:root.theme-dark {
  --bg-img: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;
  --decorated-zone-color: #ff0070;
  --rec-symbol-color: #ff0070;
  --header-theme-menu-button-color: #ff0070;
  --header-theme-menu-button-hover-color: rgba(255, 0, 112, 0.4);
  --general-title-color: #db00ff;
  --heading-accent-color: #ff0070;
  --header-text-color: #000028;
  --header-text-bg-color: #ff0070;
  --section-heading-color: #ff0070;
  --article-title-color: #000028;
  --article-text-color: #f1b2ce;
  --article-text-link-fv-color: #f1b2ce;
  --article-text-link-shadow-color: #ff0070;
  --footer-title-color: #db00ff;
  --footer-title-shadow-color: #ff0070;
  --color-article-text: #f1b2ce;
}

.theme-dark .rec_symbol {
  display: flex;
}