@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url("../images/cover-image-light.png");
    --page-bg-color: #fff1f7;
    --decorated-zone-color: #353430;
    --header-theme-menu-button-color: #353430;
    --header-theme-menu-button-hover-color: rgba(50, 49, 45, 0.4);
    --general-title-color: #ffc2e6;
    --heading-accent-color: #ff8dcb;
    --header-text-color: #353430;
    --header-text-bg-color: #ff8dcb;
    --section-heading-color: #353430;
    --article-title-color: #353430;
    --article-title-bg-color: #ff8dcb;
    --article-text-color: #353430;
    --article-text-link-shadow-color: #ff8dcb;
    --article-text-link-fv-color: #353430;
    --footer-title-color: #ffc2e6;
  }

  .rec_symbol {
    display: none;
  }
}

:root.theme-light {
  --bg-img: url("../images/cover-image-light.png");
  --page-bg-color: #fff1f7;
  --decorated-zone-color: #353430;
  --header-text-color: #353430;
  --header-text-bg-color: #ff8dcb;
  --header-theme-menu-button-color: #353430;
  --header-theme-menu-button-hover-color: rgba(50, 49, 45, 0.4);
  --general-title-color: #ffc2e6;
  --heading-accent-color: #ff8dcb;
  --section-heading-color: #353430;
  --article-title-color: #353430;
  --article-title-bg-color: #ff8dcb;
  --article-text-color: #353430;
  --article-text-link-shadow-color: #ff8dcb;
  --article-text-link-fv-color: #353430;
  --footer-title-color: #ffc2e6;
  --footer-title-shadow-color: #ff0070;
}

.theme-light .rec_symbol {
  display: none;
}